<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="185" android:versionName="6.12" android:installLocation="auto" package="com.lavadip.skeyepro" platformBuildVersionCode="18" platformBuildVersionName="4.3.1-1425645">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
</manifest>
